body
{
  background-color: #2a2e33;
}
#title
{
  margin-top: 10px;
  font-size: 100px;
  color: #d3f5dc;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}
#sub
{
  font-size: 40px;
  color: #e3f74a;
  font-family: Verdana, Geneva, sans-serif;
  margin-top: -50px;
  text-align: center;

}
.button {
  background-color: #4287f5; /* Green */
  border: none;
  color: #1e2120;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 15px 12px;
  text-align: center;
  margin-right: 300px;
  border-radius: 90px;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
}
.button:hover {background-color: #0c875e;}

.button:active {
  background-color: #56f536;
  box-shadow: 0 5px #666;
  transform: translateY(4px); }



.stats
{
  background-color: #58f538; /* Green */
  border: none;
  color: #1e212;
 font-family: "Arial Black", Gadget, sans-serif
  padding: 15px 22px;
  text-align: center;
  width: 500px;
  height: 60px;
  margin-top: 50px;
  margin-left: 480px;
  border-radius: 90px;
  text-decoration: none;
  display: inline-block;
  font-size: 35px;
}

.stats:hover {background-color: #52e8eb;}

.stats:active {
  background-color: #4287f5;
  box-shadow: 0 5px #666;
  transform: translateY(4px); }
